azure-functions
azure-identity
azure-core
python-dotenv
langchain-openai
langchain-community
langchain-core
langchain
openai
azure-search-documents
pytest
pytest-cov
requests
streamlit
PyPDF2
pypdf
python-docx
docx2txt
unstructured
unstructured[md]